{% set title = config['title'] %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/bootstrap-nightshade.min.css') }}" rel="stylesheet">
    <style v-if="inDarkMode">
        svg.main-svg {
            background-color: transparent !important;
        }

        svg text {
            fill: white !important;
        }
    </style>
</head>
<body>
<div id="app">
    {% for c in children %}
        {{ c.render() | safe }}
    {% endfor %}
</div>
{% if config['DEBUG'] %}
    <script>console.warn('Your application is running on debug mode.')</script>
{% endif %}
<script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/darkmode.min.js') }}"></script>
<script src="{{ url_for('static', filename='axios/axios.min.js') }}"></script>
{% if config['DEBUG'] %}
    <script src="{{ url_for('static', filename='vuejs/vue.global.js') }}"></script>
    <script src="{{ url_for('static', filename='plotly/plotly-2.2.0.js') }}"></script>
{% else %}
    <script src="{{ url_for('static', filename='vuejs/vue.global.prod.js') }}"></script>
    <script src="{{ url_for('static', filename='plotly/plotly-2.2.0.min.js') }}"></script>
{% endif %}
<script>
    const store = {
        state: Vue.reactive({{ state.to_dict() | tojson }}),
    };
    {% for c in callbacks %}
        Vue.watch(
            () =>
                {% if c.input is iterable and (c.input is not string and c.input is not mapping) %}
                    [{% for i in c.input %}store.state.{{ i._ref }}, {% endfor %}]
                {% else %}
                    store.state.{{ c.input._ref }}
                {% endif %}
            , (state, prevState) => {
                axios.post("{{ url_for(c.fn) }}", {data: state})
                    .then(response => {
                        let payload = response.data;
                        console.log(payload);
                        {% set var = c.output %}
                        {% if var is iterable and (var is not string and var is not mapping) %}
                            {% for o in var %}
                                store.state.{{ o._ref }} = payload[{{ loop.index0 }}];
                            {% endfor %}
                        {% else %}
                            store.state.{{ var._ref }} = payload;
                        {% endif %}
                    });
            },
            {deep: true}
        )
    {% endfor %}
    {% for c in components %}
        Vue.watch(() => store.state.{{ c.state._ref }}, (state, prevState) => { {{ c.refresh | safe }} })
    {% endfor %}
</script>
{% include 'app.js.html' %}
</body>
</html>